<style>
    body{
        background-color: aqua;
    }
    input{
        width: 100%;
        padding:12px 20px;
        margin: 8px 0px;
        box-sizing: border-box;
    }
    input::placeholder{
        color: #d3d3d3;
    }
    .center-column{
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
        background-image: linear-gradient(red, skyblue, lightgreen, rgb(241, 21, 124));
    }
    .create{
        background-color: rgb(0, 240, 228);
        border-radius: 10px;
        width: 100px;
    }
    .create:hover{
        background-color: rgb(125, 238, 219);
    }
    .update, .delete{
        background-color: rgb(241, 104, 40);
        border-color: black;
        border-style: groove;
        padding: 2px 11px 0px 11px;
        border-radius: 10px;
        font-size: 17px;
        color: gainsboro;
        font-style: normal;
        text-decoration: none;
    }
    .update:hover{
        background-color: coral;
    }
    .delete:hover{
        background-color: coral;
    }
    .item-row{
        background-color: skyblue;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        font-size: 16px;
        box-shadow: 0px -1px 10px -4px blue;
    }


</style>


<div class="center-column">
    <form action="/" method="POST">
        {%csrf_token%}
        {{form.title}}
        <input class="create" type="submit" value="Create task">
    </form>
    
    {% for task in tasks%}
    <div class="item-row">
        <a class="update" href="{% url 'update_task' task.id %}">Update</a>
        <a class="delete" href="{% url 'delete' task.id %}">Delete</a>
    
        {% if task.complete == True %}
            <strike>{{task}}</strike>
        {% else %}
            <span>{{task}}</span>
        {% endif %}
       
    </div>
    {%endfor%}
</div>
